In [ ]:
import math

a = 10
b = 3 

print(a + b)
print(a * b)
print(a - b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

print(math.sqrt(64))
print(math.pi)
print(math.floor(3.941592653589793))
print(math.ceil(3.1))
print(math.pow(3, 3))

print(math.sqrt(2).__round__(2))
print(round(3.141592653589793, 3))
print(round(math.sqrt(2), 6))

13
30
7
3.3333333333333335
3
1
1000
8.0
3.141592653589793
3
4
27.0
1.41
3.142
1.4142135623730951

In [3]:
num1 = float (input('Enter first number: '))
num2 =  float (input('Enter second number: '))

sum = num1 + num2
print(sum)

15.0

In [6]:
name1 = input('Enter first name')
name2 = input('Enter second name')
 
full_name = name1 + ' ' + name2
print(full_name)

Wahome Jeremy

In [17]:
a = 'Wahome'
print(a.upper())

b = 'Alvin'
print(b.lower())

c = '12ab'
d = " "
print(c.isalnum())
print(c.isalpha())
print(d.isspace())


colors = "red,blue,green,yellow" .split(",")
joined = " ".join(colors)
print(joined)

name = input("Enter your name: ")
age = int(input("Enter your age: "))

print(f"{name} is {age} years old.")

WAHOME
alvin
True
False
True
red blue green yellow
Wahome is 20 years old.

In [24]:
s = "Hello there, \n\"How are you?\""
print(s)

Hello there,
"How are you?"

In [32]:
str1 = "Hello"
name = input("Enter your name: ")
hours = float(input('Enter hours worked: '))
rate =  float(input('Enter rate : '))

pay = (hours * rate)
print(pay)




print(f"{str1} {name}")

116000.0
Hello Wahome

In [33]:
width = 17
height = 12.0

print(type(width))

<class 'int'>

In [39]:
age = 20 
if age < 13:
    print("You are a child")
elif age < 20:
    print("You are a teenager")
else:
    print("You are an adult")

You are an adult

In [42]:
for i in range(5):
    print(i)

n = int(input("How many times to say money"))
for i in range (n):
    print("money")

0
1
2
3
4
money
money
money
money
money
money
money
money

In [44]:
password = ""
while password != "pass123#":
    password = input("Enter password: ")

print("Access granted")

Access granted

Functions

In [1]:
def greet():
    print("Hello, world!")
greet()
greet()
greet()
greet()

Hello, world!
Hello, world!
Hello, world!
Hello, world!

In [3]:
def greeting(name="Guest"):
    print(f"Hello, {name}")

greeting("John")
greeting()

Hello, John
Hello, Guest

In [8]:
def greeting(name="Guest"):
    print(f"Hello, {name}")

name = input("What is your name? ")
greeting(name)
greeting()

Hello, Odogwo
Hello, Guest

In [9]:
def add(num1, num2):
    return num1 + num2
sum = add(3, 6)
print("Sum:", sum)

Sum: 9

In [10]:
def account(name, age):
    print(f"{name} is {age} years old.")

account("Bob", 50)
account(age=40, name="Jane")

Bob is 50 years old.
Jane is 40 years old.

In [11]:
def sum_of_numbers(*numbers):
    print("sum is:", sum(numbers))
sum_of_numbers(2, 3, 4)

TypeError: 'int' object is not callable

KWAGS

In [12]:
def print_info(**info):
    for key, value in info .items():
        print(f"{key}: {value} ")

print_info(name="Jane", gender="female", age=26, city="Nairobi")

name: Jane
gender: female
age: 26
city: Nairobi

In [ ]:
square = lambda x: x * x
print(square(6))

multiply = lambda a, b: a * b 
print(multiply(8, 8))

is_even = lambda x: x % 2 == 0
print(is_even(2))
print(is_even(3))

36
64
True
False

In [16]:
def square(x):
    return x * x 

def display_square(n):
    result = square(n)
    print(f"square of {n} is {result}")

display_square(8)

square of 8 is 64

In [ ]:
def add(a, b):
    return a + b

def add(a, b):
    return a - b

def add(a, b):
    return a * b

def add(a, b):
    return a / b if b != 0 else "Cannot divide by zero"

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Choose operation (+, -, *, /)")

if op == "+":
    print("Result: ", add(a, b))

elif op == "-":
    print("Result: ", sub(a, b))

elif op == "*":
    print("Result: ", mul(a, b))

elif op == "/":
    print("Result: ", div(a, b))

In [17]:
fhand = open('mbox_short.txt')

count = 0

for line in fhand:
    count = count + 1

print("Line count:", count)

Line count: 1909

In [20]:
fhand = open("mbox_short.txt")
inp = fhand.read()
print(len(inp))
print(inp[:200])

94625
From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008
Return-Path: <postmaster@collab.sakaiproject.org>
Received: from murder (mail.umich.edu [141.211.14.90])
	 by frankenstein.mail.umich.edu (Cyru

In [ ]:
fhand = open("mbox_short.txt")

for line in fhand:
    if line.startswith ('From:'):
        print(line)

From: stephen.marquard@uct.ac.za

From: louis@media.berkeley.edu

From: zqian@umich.edu

From: rjlowe@iupui.edu

From: zqian@umich.edu

From: rjlowe@iupui.edu

From: cwen@iupui.edu

From: cwen@iupui.edu

From: gsilver@umich.edu

From: gsilver@umich.edu

From: zqian@umich.edu

From: gsilver@umich.edu

From: wagnermr@iupui.edu

From: zqian@umich.edu

From: antranig@caret.cam.ac.uk

From: gopal.ramasammycook@gmail.com

From: david.horwitz@uct.ac.za

From: david.horwitz@uct.ac.za

From: david.horwitz@uct.ac.za

From: david.horwitz@uct.ac.za

From: stephen.marquard@uct.ac.za

From: louis@media.berkeley.edu

From: louis@media.berkeley.edu

From: ray@media.berkeley.edu

From: cwen@iupui.edu

From: cwen@iupui.edu

From: cwen@iupui.edu

In [23]:
fhand = open("mbox_short.txt")

for line in fhand:
    line = line.rstrip()
    if line.startswith ('From:'):
        print(line)

From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: cwen@iupui.edu
From: cwen@iupui.edu
From: gsilver@umich.edu
From: gsilver@umich.edu
From: zqian@umich.edu
From: gsilver@umich.edu
From: wagnermr@iupui.edu
From: zqian@umich.edu
From: antranig@caret.cam.ac.uk
From: gopal.ramasammycook@gmail.com
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: louis@media.berkeley.edu
From: ray@media.berkeley.edu
From: cwen@iupui.edu
From: cwen@iupui.edu
From: cwen@iupui.edu

In [31]:
file1 = open('output.txt', 'w')
print(file1)
line1 = "some random text"
file1.write(line1)

line2 = "\nsome other random text."
file1.write(line2)

file1.close()

<_io.TextIOWrapper name='output.txt' mode='w' encoding='cp1252'>

In [5]:
fruits = ['oranges', 'apples', 'pears', 'bananas']
print(fruits[0])
print(fruits[1])
print(fruits[-1])

for fruit in fruits:
    print(fruit)

fruits.append('grapes')
print(fruits)

fruits.insert(1, 'kiwi')
print(fruits)

fruits.remove('apples')
print(fruits)

popped = fruits.pop()
print(popped)
print(fruits)   

fruits.sort()
print(fruits) 

print(len(fruits))

if "oranges" in fruits:
    print("Oranges are in the list")
else:
    print("Oranges are not in the list")



numbers = [1, 2, 3, 4, 5]
print(numbers)

mixed_list = ['oranges', 1, 2.5, True]    
print(mixed_list)

oranges
apples
bananas
oranges
apples
pears
bananas
['oranges', 'apples', 'pears', 'bananas', 'grapes']
['oranges', 'kiwi', 'apples', 'pears', 'bananas', 'grapes']
['oranges', 'kiwi', 'pears', 'bananas', 'grapes']
grapes
['oranges', 'kiwi', 'pears', 'bananas']
['bananas', 'kiwi', 'oranges', 'pears']
4
Oranges are in the list
[1, 2, 3, 4, 5]
['oranges', 1, 2.5, True]

Regular Expression

In [2]:
import re
# re.match()

result = re.match(r'Python', 'Python is an existing programmoing language.')
print(result.group())

Python

In [3]:
result = re.search(r'language', 'Pyhton is an existing programming language.')
print(result.group())

language

In [6]:
result = re.findall(r'\d+', 'My phone number is 0706298128.')
print(result)

['0706298128']

In [9]:
text = re.sub(r'apples', 'oranges', 'I like apples')
print(text)

I like oranges

In [ ]:
# . (Dot)

text = re.findall(r'a.b', 'acb a1b a_b axb')
print(text)

# ^ (Caret)

text = re.findall(r'^good', 'goodmorning' )
print(text)

# $ (Dollar sign)

text = re.findall(r'morning$', 'goodmorning' )
print(text)

# * (Asterisk)

text = re.findall(r'lo*l', 'll lol lllo2' )
print(text)

# +(plus)

text = re.findall(r'lo+l', 'll lol, lllo2' )
print(text)

# ? (question mark)(matches zero or one of the preceeding character)

text = re.findall(r'colou?r', 'color colour collourr colore' )
print(text)

# {n}

num = re.findall (r'\d{3}', '12 1234 12345 123456')
print(num)

['acb', 'a1b', 'a_b', 'axb']
['good']
['morning']
['ll', 'lol', 'll']
['lol']
['color', 'colour', 'color']
['123', '123', '123', '456']

Character classes

In [49]:
text = "Phone No: 1234567890"
result = re.findall(r'\d+', text)
print(result)

text = "Phone No: 1234567890"
result = re.findall(r'\D+', text)
print(result)

['1234567890']
['Phone No: ']

In [58]:
# \w 

text = "Phone No: 1234567890"
result = re.findall(r'\w+', text)
print(result)


# \W

text = "Phone No: 12?3-45_678*90"
result = re.findall(r'\W', text)
print(result)

# \s

text = "Phone No: 12?3-45_678*90"
result = re.findall(r'\s', text)
print(result)

# \S

text = "Phone No: 12?3-45_678*90"
result = re.findall(r'\S+', text)
print(result)

# \Z

text = "Phone No: 12?3-45_678*90"
result = re.findall(r'\Z', text)
print(result)

# \A

text = "Phone No: 12?3-45_678*90"
result = re.findall(r'\A', text)
print(result)

['Phone', 'No', '1234567890']
[' ', ':', ' ', '?', '-', '*']
[' ', ' ']
['Phone', 'No:', '12?3-45_678*90']
['']
['']

Look Ahead

In [64]:
text =  "Python3 Java17 C++18"
result = re.findall(r'\S+(?!=\d)', text)
print(result)

text = "KES416000 USD1000"
result = re.findall(r'(?<=KES)\d+', text)
print(result)

['Python3', 'Java17', 'C++18']
['416000']

In [73]:
pattern = r'^[\w\.-]+@[\w\.]=\w+$'
email = 'sample.email@example.com'
print(bool(re.match(pattern, email)))

False

In [71]:
text = "Visit us at https://www.example.com or https://example.org"
urls = re.findall(r'https?://\S+', text)
print(urls)

['https://www.example.com', 'https://example.org']

Characters

In [76]:
import re

def is_valid_string(input_string):
    pattern = r'^[a-zA-Z0-9]+$'
    
    if re.match(pattern, input_string):
        return True
    else:
        return False

user_input = input("Enter a string: ")

if is_valid_string(user_input):
    print("The string is valid and contains only a-z, A-Z, and 0-9.")
else:
    print("The string is invalid. It contains characters outside the allowed set.")

The string is valid and contains only a-z, A-Z, and 0-9.

Password validation

In [74]:
import re

def validate_password(password):
    pattern = r'^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$'
    
    if re.match(pattern, password):
        return True
    else:
        return False

user_password = input("Enter your password: ")

if validate_password(user_password):
    print("Password is valid.")
else:
    print("Password is invalid. It must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, one digit, and one special character.")

Password is valid.

Validate date format

In [ ]:
import re
from datetime import datetime

def is_valid_date(date_string):
    pattern = r'^(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[0-2])/\d{4}$'
    
    if re.match(pattern, date_string):
        try:
            day, month, year = map(int, date_string.split('/'))
            datetime(year, month, day)  
            return True
        except ValueError:
            return False
    else:
        return False

# Get user input
user_date = input("Enter a date (DD/MM/YYYY): ")

if is_valid_date(user_date):
    print("The date is valid.")
else:
    print("The date is invalid. Please enter a date in the format DD/MM/YYYY.")

Use of regex to extract specific information

In [80]:
import re

def extract_emails(text):
    email_pattern = r'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'
    emails = re.findall(email_pattern, text)
    return emails

def extract_phone_numbers(text):
    phone_pattern = r'\b\d{3}-\d{3}-\d{4}\b'
    phone_numbers = re.findall(phone_pattern, text)
    return phone_numbers

input_string = """
    example1@test.com, example2@test.co.uk, and invalid@.com.
     123-456-7890, 987-654-3210, and 123-45-6789.
"""

emails = extract_emails(input_string)
phone_numbers = extract_phone_numbers(input_string)

print("Extracted Email Addresses:")
for email in emails:
    print(email)

print("\nExtracted Phone Numbers:")
for phone in phone_numbers:
    print(phone)

Extracted Email Addresses:
example1@test.com
example2@test.co.uk

Extracted Phone Numbers:
123-456-7890
987-654-3210

Replace text

In [78]:
import re

def replace_text(text, old, new):
    updated_text = re.sub(old, new, text)
    return updated_text

input_string = """
Mr. Dubow is a software engineer. Mr. Randy is a project manager.
Mr. Wahome is a data analyst. They all work at the same company.
"""

old_text = r'Mr\.'  
new_text = 'Ms.'

result_string = replace_text(input_string, old_text, new_text)

print("Updated String:")
print(result_string)

Updated String:

Ms. Dubow is a software engineer. Ms. Randy is a project manager.
Ms. Wahome is a data analyst. They all work at the same company.